{% extends "template.html" %}
{% block head %}
  <title>Home</title>
  <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Your Teams</h1>
    {% if teams %}
      <ul class="list-group">
        {% for team in teams %}
          <li class="list-group-item">
            <a href="/team/{{ team[0] }}">{{ team[1] }}</a>
            <span class="badge bg-secondary float-end">Record : {{ team[10] }} - {{ team[11] }}</span>
            <br>
            <span class="text-muted">League: {{ leagues[loop.index0][1] }}</span>
          </li>
        {% endfor %}
    {% else %}
          <li class="list-group-item">No teams found.</li>
    {% endif %}
    <a href="#" class="btn btn-success btn-lg w-100">Create New Team</a>
  </div>
{% endblock %}