{% extends "user_template.html" %}
{% block head %}
  <title>Manage League</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Manage League: {{ league[1] }}</h1>
    <p>League ID: {{ league[0] }}</p>
    <p>Season Number: {{ league[2] }}</p>
    <p>Year: {{ league[4] }}</p>
    <p>Public League: {{ 'Yes' if league[3] else 'No' }}</p>
    <p>Number of teams : {{ teams|length }}</p>
    <p>League Status: {{ 'Active' if league[6] == 1 else 'Inactive' }}</p>
    <p>Draft Date: {{ draft_date }}</p>
</div>
<div class="container mt-5">
    <h2>Teams in League</h2>
    {% if teams %}
        <ul class="list-group">
            {% for team in teams %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="/team/{{ team[0] }}">{{ team[1] }}</a>
                        <span class="badge bg-secondary ms-2">Record: {{ team[10] }} - {{ team[11] }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <li class="list-group-item">No teams found in this league.</li>
    {% endif %}
    <a href="/create_team/{{user_id}}" class="btn btn-success btn-lg w-100 mt-3">Create New Team</a>
    {% if teams|length >= 2 and league[6] == 0 %}
    <form method="post" action="/activate_league/{{ league[0] }}">
        <button type="submit" class="btn btn-primary btn-lg w-100 mt-3">Activate League</button>
    </form>
    {% elif teams|length < 2 and league[6] == 0 %}
    <div class="alert alert-warning mt-3">You need 2 or more teams to activate the league.</div>
    {% endif %}
</div>
{% endblock %}